p.main {
    text-align: center;
}

a {
    text-decoration: none;
    color: mediumpurple;
}

a.netflix {
    color: #E50914
}

a:hover {
    color: purple;

}

a.social-link {
    margin: 100px;
}

img.badge {
    width: 25px;
}

img.hero {
    margin-top: 100px;
    width: 450px;
}